@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Montserrat';
    color: #FFFFFF;
}

body{
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 13fr;
    grid-template-areas: "header header"
                            "main aside";
    background-color: #151515;
    overflow-x:hidden;
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

header button{
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    background-color: #892cdc;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.3s ease-in;
}

header button:hover{
    letter-spacing: 1px;
    background-color: #6c22ac;
    transform: translateY(-5px);
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

header nav a{
    display: inline-block;
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 500;
    font-size: 12pt;
    padding-bottom: 5px;
    transition: 0.3s ease-in;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

header nav a:hover{
    cursor: pointer;
    border-bottom: 4px solid #892cdc;
    transform: translateY(-5px);
}

#ative{
    cursor: pointer;
    border-bottom: 2px solid #892cdc;
    transform: translateY(-2px);
}

/* MAIN */

main{
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

main .wallpaper{
    width: 95%;
    height: 20rem;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

main .wallpaper .wppbg{
    width: 100%;
    transform: translateY(-150px);
    overflow: hidden;
    opacity: 0.3;
    position: relative;
    z-index: 1;
    transition: 5s ease-in-out;
}

main .wallpaper .wppbg:hover{
    transform: translateY(-50px);
}

.wallpaper .wppTxt{
    position: absolute;
    z-index: 2;
    margin-top: 5rem;
    margin-left: 2rem;
}

.character{
    opacity: 0.95;
    position: absolute;
    z-index: 3;
    margin-top: -6rem;
    margin-left: 43rem;
    width: 500px;
    height: 500px;
}


.wppTxt h3{
    color: #892cdc;
    font-size: 20pt;
}

.wppTxt h1{
    font-size: 45pt;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

main .topGames{
    width: 95%;
    height: 22rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    border-bottom: 3px solid #892cdc;
}

.topGames h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 14pt;
    color: #892cdc;
}

.topDiv {
    display: flex;
    align-items:center;
    width: 100%;
    height: 80%;
}

.topGamesItem{
    background-color: #6c22ac;
    width: 15%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease-in-out;
}

.topGamesItem:hover{
    cursor: pointer;
    border-radius: 20px;
    transform: translateY(-15px);
}

.topGames img{
    width: 100%;
    height: auto;
    opacity: 0.8;
}

/* /MAIN */
/* ASIDE */

aside{
    grid-area: aside;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.friends{
    width: 95%;
    height: 75vh;
    font-size: 13pt;
}

.friends a{
    font-weight: 200;
}

.friends strong{
    font-weight: 400;
}

section .aFriend{
    width: 70%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #892cdc;
    background-color: rgba(0, 0, 0, 0.3);
}

section .aFriend h1{
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 12pt;
}

section .aFriend h3{
    font-size: 9pt;
}

section .aFriend img{
    width: 45px;
    height: 45px;
    margin-right: 1rem;
}

/* /ASIDE */