@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url("bg.jpg") no-repeat;
    background-size: 2000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 100vw;
    height: 100vh;
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(0.3rem);
}

header{
    height: 3rem;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.logo{
    width: 25%;
    display: flex;
    align-items: center;   
    margin-left: 2rem;
}

.GitHub{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 2rem;
}

.GitHub button{
    background: none;
    padding: 5px;
    border: 2px solid white;
    border-radius: 20px;
    width: 7rem;
    font-size: 12pt;
    font-weight: 700;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

nav a{
    cursor: pointer;
    padding: 0px 3px 0px 3px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid red;
    transition: ease 0.1s;
}

nav a:hover{
    letter-spacing: 1px;   
}

header button{
    width: 25%;
}