@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url("bg2.jpg") no-repeat;
    background-size: 1500px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content{
    width: 100vw;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
}

header{
    height: 5rem;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(0.5rem);
}

.logo{
    width: 25%;
    display: flex;
    align-items: center;   
    margin-left: 2rem;
    font-size: 15pt;
}

.GitHub{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 2rem;
}

.GitHub button{
    background: none;
    padding: 5px;
    border: 3px solid white;
    border-radius: 20px;
    width: 7rem;
    font-size: 12pt;
    font-weight: 700;
    color: white;
    transition: ease 0.1s;
}


header button:hover{
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

nav a{
    cursor: pointer;
    padding: 0px 3px 0px 3px;
    margin-left: 10px;
    margin-right: 10px;
    transition: ease 0.1s;
}

nav a:hover{
    letter-spacing: 1px;   
    border-bottom: 3px solid red;
}

main{
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h1{
    margin-bottom: 20px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

main .games{
    display: flex;
    justify-content: center;
    align-items: center;
}


.games section{
    width: 15rem;
    height: 25rem;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    cursor: pointer;
}

.games section img{
    width: 100%;
    height: 80%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
section .title{
    text-align: center;
}

section .title h2{
    font-weight: 500;
    font-size: 12pt;
    padding-bottom: 10px;
}

section .title h1{
    font-size: 20pt;
}


.games section h1:hover{
    border-bottom: 5px solid red;
    letter-spacing: 1px;
}